.dashboard-container {
  display: flex;

  flex-direction: column;

  gap: 24px;

  width: 100%;
}

.dashboard-row {
  display: grid;

  grid-template-columns: 1fr 1fr;

  gap: 24px;
}

@media (max-width: 900px) {
  .dashboard-row {
    grid-template-columns: 1fr;
  }
}
