.sidebar {
  height: 100vh;
  width: 260px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.sidebar-logo {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
}

.sidebar nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar-link {
  display: flex;
  align-items: center;
  gap: 12px;

  padding: 12px;

  text-decoration: none;

  border-radius: 8px;
}

.sidebar-bottom {
  margin-top: auto;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar-bottom button {
  display: flex;
  align-items: center;
  gap: 10px;

  padding: 12px;

  border: none;

  background: none;

  cursor: pointer;
}
